body{
  background-color: black;
}



.character {
    border: 2px;
}


.far fa-heart{
  box-shadow: gold;
}


  h1{
    color:darkred;
  }


  .dataRow{
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
